*{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 100%;
}

.wrapper .image{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600x;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

.wrapper .section{
    height: 100vh;
}

.wrapper .section:nth-child(1){
    background: #27e2c1;
}
.wrapper .section:nth-child(2){
    background: #6362f4;
}
.wrapper .section:nth-child(3){
    background: #f4cc58;
}
.wrapper .section:nth-child(4){
    background: #eb044f;
}
.wrapper .section:nth-child(5){
    background: #ffffff;
}